.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: red;
}
.button {
  height: 100px;
  width: 400px;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
